# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Envs and secrets
.env
.env.*

# Byte-compiled / optimized / DLL files
*.so
*.dylib

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Database + volumes
postgres_data/
rssbridge_data/
*.db

# Logs
*.log
.env
./backend/.venv
